.footer,
.push {
  height: 50px;
}

.home .hero .description {
  font-size: 0.9rem;
  font-weight: 200;
  margin-top: -20px;
  color: green;
}

.center {
  // to align center in Firefox, -webkit-center is not recognized in Firefox
  // The order matters
  text-align: center;
  text-align: -webkit-center;
}

.spaced {
  padding-bottom: 1rem;
}